---
import About from "./About.astro";
import Experience from "./Experience.astro";
import Projects from "./Projects.astro";
import Skills from "./Skills.astro";
---

<main>
    <About />
    <Skills />
    <Experience />
    <Projects />
</main>

<style is:global>
  .about, .skills, .experience, .projects, .contact {
    position: relative;
    height: 100vh;
    padding: 30% 10% 10%;
    z-index: 0
  }

  @media (width >= 768px) {
    .about, .skills, .experience, .projects, .contact {
      padding: 13% 10% 5%;
    }
  }

  .section__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .section__header {
    position: absolute;
    top: 6rem;
    left: 0;
    width: 100%;
    font-family: var(--fnt-display);
    font-size: 5rem;
    text-wrap: nowrap;
    overflow: hidden;
    opacity: 0.6;
    z-index: -1;
  }

  @media (width >= 768px) {
    .section__header {
      top: 10rem;
      font-size: 9rem;
    }
  }

  .section__title {
    font-family: var(--fnt-display);
    font-size: 2rem;
    color: var(--clr-primary);
  }

  @media (width >= 768px) {
    .section__title {
      font-size: 4rem;
    }
  }

  .about__header, .experience__header {
    color: var(--clr-bg-secondary);
  }
</style>