---
import About from "./About.astro";
import Experience from "./Experience.astro";
import Projects from "./Projects.astro";
import Skills from "./Skills.astro";
---

<main>
    <About />
    <Skills />
    <Experience />
    <Projects />
</main>

<script>
</script>

<style is:global>
  .about, .skills, .experience, .projects, .contact {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    padding: 30% 10% 10%;
    z-index: 0
  }

  @media (width >= 768px) {
    .about, .skills, .experience, .projects, .contact {
      padding: 13% 10% 5%;
    }
  }

  .section__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .section__header {
    position: absolute;
    top: 6rem;
    width: 100&;
    font-family: var(--fnt-display);
    font-size: 5rem;
    text-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;
    opacity: 0.6;
    z-index: -1;
  }

  .section__header--primary {
    animation: marquee-primary 20s linear infinite;
  }

  .section__header--secondary {
    transform: translateX(-100%);
    animation: marquee-secondary 20s linear infinite;
  }

  @keyframes marquee-primary {
    from {
      transform: translateX(-10%);
    }
    to {
      transform: translateX(90%);
    }
  }

  @keyframes marquee-secondary {
    from {
      transform: translateX(-110%);
    }
    to {
      transform: translateX(-10%);
    }
  }

  @media (width >= 768px) {
    .section__header {
      top: 10rem;
      font-size: 9rem;
    }
  }

  .section__title {
    font-family: var(--fnt-display);
    font-size: 2rem;
    color: var(--clr-primary);
  }

  @media (width >= 768px) {
    .section__title {
      margin-bottom: 3rem;
      font-size: 4rem;
    }
  }

  .about__header, .experience__header {
    color: var(--clr-bg-secondary);
  }
  
  .skills, .projects {
    background-color: var(--clr-bg-secondary);
    box-shadow: 0 0 10px black;
  }

  .skills__header, .projects__header {
    color: var(--clr-bg);
  }

  .section__tech {
    display: flex;
    column-gap: 0.6rem;
    margin-left: 1rem;
    padding-top: 1rem;
    & img {
      width: 1.8rem;
    }
  }

  @media (width >= 768px) {
    .section__tech {
      & img {
        width: 2.5rem;
      }
    }
  }
</style>